/* Styles representatives page */
body {
  background-color: #e0f7da; /* Light green background */
  font-family: 'Fredoka One', cursive;
}

h1, h2 {
  text-align: center;
}

.container {
  margin-top: 20px;
}
